body {
  margin: 5px;
  min-width:700px;
  font-size: 15px;
}

span.value pre {
  display: inline;
  white-space: pre-wrap;
}

table.dataTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
/*   table-layout: fixed; */
}

table.dataTable td, table.dataTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

table.dataTable td.grow, table.dataTable th.grow {
  width: 100%;
}

table.dataTable tbody td {
  font-size: 13px;
}
table.dataTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.dataTable tr.title {
  background: greenyellow;
}
table.dataTable tfoot td {
  font-size: 14px;
}
table.dataTable tfoot .links {
  text-align: right;
}
table.dataTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

table td .value {
  font-weight: 700;

}
table td .collapsible.value {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

a.copy-button {
  font-size: 15px;
  color: gray;
  text-decoration: none;
  vertical-align: bottom;
}

.collapseControl {
 cursor: pointer;
 margin-left: -5px;
 font-size: 20px;
}

.collapseControl:after {
  content: '\e5cc';
 
}

.collapseControl.active:after {
  content: "\e5cf";
}

/* Search controls*/

.inner-container .top-bar {
  height: 25px;
  background-color: lightgray;
  position: sticky;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
}

.inner-container .top-bar input {
  width: 400px;
}

.inner-container .content {
  margin-top: 25px;
}